PORT=5000

# MaxelPay API
MAXELPAY_API_KEY=your_api_key
MAXELPAY_SECRET_KEY=your_secret_key
MAXELPAY_ENV=stg

# Email Settings
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password

# Patreon / Telegram
PATREON_URL=https://patreon.com/yourpage
TELEGRAM_BOT_URL=https://t.me/yourtelegrambot
