# Discord
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=1422978171912851469
DISCORD_PUBLIC_KEY=413af219e683e40613b9d08395d9aecf717bb241e2b82c75cdb79e7687f27078
DISCORD_GUILD_ID=1288431662698463235
DISCORD_VIP_ROLE_ID=1422980627581501574
DISCORD_CHANNEL_ID=1423004816996565022

# MaxelPay
MAXELPAY_API_KEY=your_api_key
MAXELPAY_SECRET_KEY=your_secret_key
MAXELPAY_ENV=prod

# Email (Nodemailer / Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=davamadeus8@gmail.com
SMTP_PASSWORD=your_gmail_app_password

# App URLs
BASE_URL=https://vip-crypto-bot.onrender.com
FRONTEND_URL=https://your_frontend_page.com
